#emptyChallenges {
  color: gray;
  display: flex;
  border: 1px solid gray;
  min-height: 300px;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 0%;
  justify-content: center;
  align-items: center;

}/* CSS styles for dropdown menu */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; }

.dropdown-btn {
  background-color: #FF9900;
  border: none;
  border-radius: 20px;
  width: 200px;
  padding: 6px 12px;
  cursor: pointer;
}

.dropdown-btn:hover {
  background-color: #FF7B00;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  border: 1px solid #9BA3AC;
  max-height: 200px;
  min-width: 200px;
 
  overflow-y: auto;
  z-index: 1;
  transform: translate(0%, 118px);
}

.scrollable-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scrollable-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.scrollable-list li:hover {
  background-color: #f0f0f0;
}

.title {
    display: flex;
    justify-content: center;

}

/* Table rows and Columns Styles */
.table-container {
    grid-column: 1 / span 3;
}

table {
    text-align: center;
}
tr {
    height: auto;
    font-size: 1em;
    /* Set the height for all rows */
}

td {
    color: white;
    background-color: #37475A;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1em;
}


/*AGENT LEADERBOARD*/

.containerLeaderboard {
    height: 100vh;
    display: grid;
    margin: 0 1% 0 1%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 60px 60px auto;
    gap: 15px;

    h2 {
      font-size: 2rem;
      text-align: center;
    }
}


/* Table Styles */

.leaderboardTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    td:nth-child(1) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 5%;
    }
    td:nth-child(2) {
      width: 50%;
    }
    td:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 50%;
    }
}


/* Rows fading in*/
.fade-in {
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}



.rank-badge {
    height: calc(1em + 22px);
    position: absolute;
    transform: translate(-50%, -50%);
}